node_modules
client/node_modules
src/**/node_modules

dist
client/dist
out
**/bin/
**/obj/

meta.db
meta.db-wal
meta.db-shm

.env
.env.*

.git
.gitignore
*.log
coverage
*.lcov
.idea
.vscode
.DS_Store

src/RoyaleDeckLab.Api.Tests
