node_modules

out
dist
*.tgz

coverage
*.lcov

logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
.cache
*.tsbuildinfo
meta-cache.json
battle-store.json

meta.db
meta.db-wal
meta.db-shm

[Bb]in/
[Oo]bj/

.idea

.DS_Store
